// Spacer Div
.spacer {
  height: 20rem;

  @media @tablet {
    height: 17.5rem;
  }

  @media @mobile {
    height: 15rem;
  }
}

// Content Row Styles
.bg {
  &-1 {
    width: 100%;
    .center;
    background-color: @content1-bg;
    color: @content1-color;
    padding: 3rem 0;

    a {
      color: @content1-a;
    }

    .grid-cell {
      background-color: @content2-bg;
      color: @content2-color;
    }
  }
  &-2 {
    width: 100%;
    .center;
    background-color: @content2-bg;
    color: @content2-color;
    padding: 3rem 0;

    a {
      color: @content2-a;
    }

    .grid-cell {
      background-color: @content1-bg;
      color: @content1-color;
    }
  }
}

// Content Sections
.section-wrap {
  .center(column);

  // Banners
  &.banners {
    text-align: center;
  }
  .banner-wrap {
    .max-w;

    &.p-left {
      p {
        text-align: left;
      }
    }
  }
  .banner {
    text-align: center;
  }

  .carousel-wrap {
    width: 100%;
    .max-w;
    .center;
    margin: 2rem 0;
    padding: 0 2.25rem;
    position: relative;

    @media @mobile-sm {
      margin: 1.5rem 0;
      padding: 0 1.75rem;
    }

    img {
      display: none;
      z-index: 0;

      &.img-active {
        display: block;
      }
    }
    
    .car-btn {
      z-index: 1;
      background: black;
      color: @gvhm-lightgrey;
      border-radius: 50%;
      padding: 0.2rem;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);

      &.prev {
        left: 0;
      }
      &.next {
        right: 0;
      }

      &:hover {
        color: @gvhm-lightbluish;
      }
      
      i {
        margin: 0;
        padding: 0;
        font-size: 4rem;

        @media @mobile-sm {
          font-size: 3rem;
        }
      }
    }
  }

  // Spotlights
  // &.spotlights {}
  .spotlight {
    .flex;

    @media @tablet {
      .flex(column);
    }

    &.rev {
      flex-direction: row-reverse;

      @media @tablet {
        flex-direction: column;
      }
    }

    &.bg-1, &.bg-2 {
      padding: 0;
    }

    .img-wrap {
      width: 40vw;

      @media @tablet {
        width: 100%;
      }

      img {
        height: 100%;
        object-fit: cover;
      }
    }
    
    .spot-content {
      height: 100%;
      .max-w;
      padding: 2rem 0;
      align-self: center;
    }
  }

  // Grids
  &.grid {
    text-align: center;
  }
  .grid-wrap {
    .flex(row, space-between, center);
    flex-wrap: wrap;

    @media @tablet {
      .center(column);
      flex-wrap: nowrap;
    }
  }
  .grid-cell {
    height: 30rem;
    margin: 2rem;
    padding: 2rem;
    flex: 1 1 35rem;

    @media @tablet {
      height: auto;
      width: 100%;
    }

    @media @mobile {
      flex: 1 1 25rem;
    }
  }
}