*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: @font-body;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  // Fixed bg
  background-image: url('../img/earth-light.jpg');
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

img {
  width: 100%;
  height: auto;
}

// H1-H6 Styling
h1, h2, h3, h4, h5, h6 {
  font-family: @font-header;
  margin-bottom: 2.4rem;
}

h1 {
  font-size: 7.2rem;
  color: @h1-color;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4.8rem;
}

h4 {
  font-size: 3.6rem;
}

h5 {
  font-size: 2.4rem;
}

// Paragraph Styling
p {
  margin-bottom: 2.4rem;
  line-height: 1.25;

  &:p1, &.tagline {
    font-size: 2rem;
  }
}

// Icon Styling
i {
  padding-right: 0.5em;
}

// Span Preferred Line Break
span.break {
  display: inline-block;
}

// Button Styling
button {
  cursor: pointer;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 0.5rem;

  &.cta {
    background: @cta-bg;
    color: white;

    &:hover {
      background:@cta-hov;
    }
  }
}

// Content Sections
.bg {
  &-1 {
    width: 100%;
    .center;
    background-color: @content1-bg;
    color: @content1-color;
    padding: 3rem 0;

    a {
      color: @content1-a;
    }
  }
  &-2 {
    width: 100%;
    .center;
    background-color: @content2-bg;
    color: @content2-color;
    padding: 3rem 0;

    a {
      color: @content2-a;
    }
  }
}

.section-wrap {
  .center(column);

  &.banners {
    text-align: center;
  }
  .banner-wrap {
    .max-w;
  }
  .banner {
    text-align: center;
  }

  // &:.spotlights {}
  // .spotlight {}
  // .spot-content {
  //   .max-w;
  // }

  .grid-wrap {
    max-width: 1000px;
  }
}