// Fonts
@Playfair: 'Playfair Display', serif;
@PlayfairSC: 'Playfair Display SC', serif;
@OpenSans: 'Open Sans', sans-serif;
@OpenSansCond: 'Open Sans Condensed', sans-serif;

// Font Assignments
@font-header: @Playfair;
@font-header-caps: @PlayfairSC;
@font-body: @OpenSans;
@font-body-cond: @OpenSansCond;

// Colors
@Color1: #A51212;
@Color2: #666666;
@Color3: #4F5A62;
@Color4: #9FA9B2;
@Color5: #D3D7C8;

// Color Assignments

// Media Queries
@container: ~"(max-width: 1000px)";
@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 500px)";