// Fonts
@Playfair: 'Playfair Display SC', serif;
@OpenSans: 'Open Sans', sans-serif;

// Font Assignments
@font-header: @Playfair;
@font-body: @OpenSans;

// Colors (need better names)
@gvhm-red: #A51212;
@gvhm-lightred: #AD2727;
@gvhm-darkgrey: #666666;
@gvhm-darkbluish: #4F5A62;
@gvhm-lightbluish: #9FA9B2;
@gvhm-lightgrey: #D3D7C8;

// Color Assignments
@body-color: @gvhm-lightgrey;
@cta-bg: @gvhm-red;
@cta-hov: @gvhm-lightred;
@nav-bg: black;
@nav-color: @gvhm-lightgrey;
@header-bg:  rgba(0, 0, 0, .35);
@header-color: @gvhm-lightgrey;
@header-a: @gvhm-lightbluish;
@h1-color: @gvhm-lightgrey;
@jump-color: @gvhm-lightgrey;
@content1-bg: @gvhm-darkbluish;
@content2-bg: @gvhm-darkgrey;
@content1-color: @gvhm-lightgrey;
@content2-color: @gvhm-lightgrey;
@content1-a: @gvhm-lightbluish;
@content2-a: @gvhm-lightbluish;

// Media Queries
@max-w: 800px;
@container: ~"(max-width: 1000px)";
@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 500px)";